@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;800&display=swap');

:root {
    --clr-white: #ffffff;
    --clr-dark: #1e1e26;
    --clr-red: #fd4d4f;
    --clr-red-light: #f16b6e;
    --clr-gray: #e3e3e1;
    --clr-gray-light: #e8ebf2;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    background: var(--clr-white);
    color: var(--clr-dark);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

hr {
    border-top: 1px solid var(--clr-gray);
}
h1,
h2,
h3,
h4,
h5 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-gray);
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
input[type='date'] {
    cursor: pointer;
}

::selection {
    color: var(--clr-red);
    background: #fde0db;
}

.error {
    position: absolute;
    top: 3.5rem;
    left: 12rem;
    color: var(--clr-red);
    font-size: 1rem;
}

.is-invalid {
    border-bottom: 1px solid red;
}

.width-100 {
    width: 100%;
    background: var(--clr-gray-light);
}
.section {
    padding: 5rem 0;
}
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

.page-100 {
    min-height: calc(100vh - (14vh + 5rem));
    padding: 5rem 0;
}
.page {
    min-height: calc(100vh - (34vh + 5rem));
}

.btn {
    text-transform: uppercase;
    background: var(--clr-red);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 400;
    transition: 0.3s linear;
    font-size: 0.875rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    border-color: transparent;
}
.btn:hover {
    background: var(--clr-red-light);
    transition: 0.3s linear;
}

.title {
    text-align: center;
}
.title .underline {
    width: 6rem;
    height: 0.25rem;
    background: #49a6e9;
    background: var(--clr-red);
    margin-left: auto;
    margin-right: auto;
}
